@font-face {
  font-family: Digital-7;
  src: url("./resources/digital-7.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 50px;
  background-color: rgb(36, 54, 77);
  background-image: radial-gradient(
      circle at 50% 10%,
      transparent 0%,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9),
      rgb(0, 0, 0)
    ), url("./resources/Truchet_tiling.svg.png");
    background-blend-mode: soft-light;
}


.calculator-wrapper {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  padding: 5px;
  border-radius: 3px;
  border-bottom-left-radius: 50px;
}

.calc-display {
  grid-area: 1/1/2/6;
  /* background-color: rgb(19, 36, 42); */
  color: rgb(206, 229, 250);
  align-self: auto;
  justify-self: auto;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  overflow: hidden;
  border-bottom: 3px solid rgb(151, 212, 228);
  margin-bottom: -5px;
  font-family: "Digital-7", sans-serif;
    white-space: nowrap;
    border-radius: 3px;
}

.result-display {
  grid-area: 2/1/3/6;
  /* background-color: rgb(22, 29, 32); */
  color: rgb(206, 229, 250);
  align-self: auto;
  justify-self: auto;
  text-align: end;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  font-family: "Digital-7", sans-serif;
  white-space: nowrap;
  border-radius: 3px;
}

.calc-button {
  position: relative;
  background-color: rgba(102, 102, 102, 0.4);
  /* backdrop-filter: blur(1px); */
  font-size: 48px;
  align-self: auto;
  justify-self: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 4px;
}

.calc-button::after{
  content: "";
  position: absolute;
  z-index: 5;
  top: 2px;
  left: 2px;
  width: 90%;
  height: 5px;
  /* background-color: blue; */
  border: solid rgba(255, 255, 255, 0.356);
  border-width: 2px 0 0 2px;
  border-top-left-radius: 4px;
}

.calc-button::before{
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 2px;
  right: 2px;
  width: 90%;
  height: 5px;
  /* background-color: blue; */
  border: solid rgba(0, 0, 0, 0.239);
  border-width: 0 2px 2px 0;
  border-bottom-right-radius: 4px;
}

.display {
  background-color: rgb(26, 35, 39);
}

.calc-button p {
  color: rgb(197, 197, 197);
}

.glass {
  grid-area: 1/1/3/6;
  /* background-color: rgba(195, 195, 255, 0.2); */
  z-index: 5;
  border: 15px solid rgb(26, 35, 39);
  border-radius: 3px;
}

.operator p{
  font-weight: 900;
  color: rgb(99, 199, 224);
}



/*  =============== BUTTONS =============== */

.button-0 {
  grid-area: 6/2;
}

.button-1 {
  grid-area: 5/1;
}

.button-2 {
  grid-area: 5/2;
}

.button-3 {
  grid-area: 5/3;
}

.button-4 {
  grid-area: 4/1;
}

.button-5 {
  grid-area: 4/2;
}

.button-6 {
  grid-area: 4/3;
}

.button-7 {
  grid-area: 3/1;
}

.button-8 {
  grid-area: 3/2;
}

.button-9 {
  grid-area: 3/3;
}

.erase {
  grid-area: 3/4/4/6;
}

.plus {
  grid-area: 4/4;
}

.minus {
  grid-area: 4/5;
}

.multiply {
  grid-area: 5/4;
}

.divide {
  grid-area: 5/5;
}

.equal {
  grid-area: 6/4/7/6;
  background-color: rgb(233, 137, 53);
}

.equal p {
  color: black;
  font-weight: 600;
}

.dot {
  grid-area: 6/3;
}

.erase {
  grid-area: 3/4;
  /* background-color: rgb(20, 183, 233); */
}

.new {
  grid-area: 3/5;
  /* background-color: rgb(20, 183, 233); */
}




/*  =============== HOVER STATES =============== */


.calc-button:hover {
  background-color: rgba(39, 37, 37, 0.5);
}

.equal:hover {
  background-color: rgb(250, 122, 17);
}

.equal:hover p {
  color: rgb(255, 255, 255);
}

.erase:hover {
  background-color: rgb(20, 183, 233);
}

.erase:hover p{
  color: black;
}

.new:hover {
  background-color: rgb(20, 183, 233);
}

.new:hover p{
  color: black;
}

.calc-button:active {
  border: 3px solid rgba(246, 120, 10, 0);
}
